body {
    background-color: #fed9b7;
    color: #e0e1dd;
}

h1 {
    text-align: center;
}

.page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e0e1dd;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.search {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
}

#city {
    margin-left: 5px;
}

li {
    list-style: none;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #778da9;
}

.current {
    border-radius: 5px;
    margin: 3%;
    padding: 3%;
    background-color: white;
}

.forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
    margin: 3%;
    padding: 3%;
}

.forecast div {
    background-color: #415a77;
    margin: 3%;
}

footer {
    font-size: small;
    text-align: center;
}